@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);


@media all {
    html {
        font-size: 15px;
        line-height: 1.2;
        text-align: left;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        font-weight: 400;
        font-style: normal;
        text-rendering: optimizeLegibility;
        -moz-font-feature-settings: 'liga=1';
        -moz-font-feature-settings: 'liga' 1;
        -webkit-font-feature-settings: 'liga' 1;
        -o-font-feature-settings: 'liga' 1;
        -ms-font-feature-settings: 'liga' 1;
        font-feature-settings: 'liga' 1;
        
    }
}

body {
    background-color: #;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.top-left {
    display: block;
    position: absolute;
    left: 2.4em;
    top: 2.4em;
    width: 60%;
    background-color: #fff;
    z-index: 100;
    border-style: solid;
    border-width: 15px;
    border-color: #fff;
    padding: 5px;
}
.top-left h1 {
    font-size: 1.2em;
    margin-bottom: 2em;
    background-color: #000;
    color: #fff;
}
.top-left h2 {
    font-size: 2vh;
}
.top-left p {
    font-size: 1.75vh;
}

.top-left a {
	border-bottom: 1px solid #000;
    color: #000;
    font-size: 1.75vh;
}
.top-left a:hover {
	border-bottom: none;
    color: #000
}

#canvas-container {
    z-index: 50;
}
